---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title= "Bhavya Kandhari - Software Engineer">
    <div class="mx-auto max-w-2xl px-5 animate-stagger">
    </div>
</BaseLayout>
