---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Hero from '@/components/Hero.astro';
import AboutSection from '@/components/AboutSection.astro';
import ExperienceSection from '@/components/ExperienceSection.astro';
---

<BaseLayout title= "Bhavya Kandhari - Software Engineer">
    <div class="mx-auto max-w-2xl px-5 animate-stagger">
        <header>
            <Hero />
        </header>
        <AboutSection />
        <ExperienceSection />
    </div>
</BaseLayout>
